@model Web.Models.PageModels.ManageBlogPage

<h2>@Model.PageTitle</h2>
@Html.ActionLink( "New Post", "New", "Blog", new { }, new { @class = "btn bottom-space" } )
<div class="bottom-space">
  @foreach( var post in Model.AllPosts )
  {
    <div>
      <span class="post-section">@post.date.ToString( "MMM dd, yyyy" ) </span>
      <span class="post-section">@post.author </span>
      <span class="post-section">@post.title</span>
    
      @Html.ActionLink( 
          "Edit",
          "ShowPost",
          "Blog",
          new { @author = @post.author, @blogTitle = @post.title },
          new { @class = "right-bar" }
      )
      @Html.ActionLink( 
          "Delete",
          "DeletePost",
          "Blog",
          new { @author = @post.author, @blogTitle = @post.title, @date = @post.date },
          new {}
      )
    </div>
}
</div>