@model Web.Models.PageModels.NewPostPage

<h1>@Model.PageTitle</h1>
<div>
    @using( Html.BeginForm( "Create", "Blog", FormMethod.Post ) )
    {
        <div>@Html.LabelFor( x => x.Form.Title )</div>
        <div>@Html.TextBoxFor( x => x.Form.Title, new { @Required = true }  )</div>
        <div>@Html.LabelFor( x => x.Form.Tags )</div>
        <div>@Html.TextBoxFor( x => x.Form.Tags, new { @Required = true, placeholder = "comma separated list" }  )</div>
        <div>@Html.LabelFor( x => x.Form.Body )</div>
        <div>@Html.TextAreaFor( x => x.Form.Body, new { @Required = true }  )</div>
        <input type="submit" value="submit" />
    }
</div>

@section PageLevelJavascript
{
    @Scripts.Render("~/assets/scripts/tinymce/tinymce.min.js")
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            height: 300,
            plugins: "save",
            toolbar: "save",
            save_enablewhendirty: true,
            save_onsavecallback: function () { console.log("Save"); }
        });
    </script>
}
