@model Web.Models.PageModels.NewPostPage

@{ ViewBag.Title = "New Post"; }

<h1>@Model.PageHeader</h1>
<div>
    @using( Html.BeginForm( "Create", "Blog", FormMethod.Post ) )
    {
        @Html.HiddenFor( x => x.Post.Author )
        @Html.HiddenFor( x => x.Post.Date )
        <div>@Html.LabelFor( x => x.Post.Title )</div>
        <div>@Html.TextBoxFor( x => x.Post.Title, new { @Required = true }  )</div>
        <div>@Html.LabelFor( x => x.Post.Tags )</div>
        <div>@Html.TextBoxFor( x => x.Post.Tags, new { @Required = true, placeholder = "comma separated list" }  )</div>
        <div>@Html.LabelFor( x => x.Post.Body )</div>
        <div>@Html.TextAreaFor( x => x.Post.Body, new { @Required = true }  )</div>
    }
</div>

@section PageLevelJavascript
{
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            height: 300,
            plugins: ["save"],
            toolbar: "save",
            style_formats: [{title : 'Code', inline : 'code'}],
            save_enablewhendirty: true
        });
    </script>
}
