@model Web.Models.PageModels.ShowPostPage

@{ ViewBag.Title = @Model.post.Title; }

<div class="main-content span8">
  <h1>@Model.post.Title</h1>
  <div><p id="blog-date">@Model.post.Date.ToString( "MMM dd, yyyy" )</p></div>
  @Html.Raw( @Model.post.Body )
</div>
<div class="side-bar span3 offset1">
  @Html.Partial( "_SidebarPartial" )
</div>
