@model Web.Models.PageModels.ShowPostPage

<div class="main-content span8">
  <h1>@Model.post.title</h1>
  <div>@Model.post.date.ToString( "MMM dd, yyyy" )</div>
  @Html.Raw( @Model.post.body )
</div>
<div class="side-bar span3 offset1">
  @Html.Partial( "_SidebarPartial" )
</div>
