@model Web.Models.PageModels.ManageAccountsPage
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PageHeader</h2>
<div class="bottom-space">
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Role</th>
            <th>Verified</th>
            <th></th>
        </tr>
        @foreach( var user in Model.AllUsers )
        {
            Model.CurrentUser = user;
            <tr>
                <td class="userId">@user.Id </td>
                <td>@user.Email </td>
                <td>@Html.DropDownListFor( m => m.CurrentUser.Role, new SelectList( Enum.GetValues( typeof( Application.Role ) ) ), new { @class = "role-selector" } )</td>
                <td>@user.VerifiedToken</td>
                <td>@Html.ActionLink(
                        "Delete",
                        "Delete",
                        "Account",
                        new { @id = @user.Id },
                        new { }
                         )</td>
            </tr>
        }
    </table>
</div>
@section PageLevelJavascript { @Scripts.Render("~/assets/scripts/manage-users.js") }
