@model Web.Models.PageModels.ManageAccountsPage
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PageHeader</h2>
<div class="bottom-space">
    <table>
    @foreach( var user in Model.AllUsers )
    {
        Model.CurrentUser = user;
        <tr>
            <td>@user.Id </td>
            <td>@user.Email </td>
            <td>@Html.DropDownListFor( m => m.CurrentUser.Role, new SelectList( Enum.GetValues( typeof( Application.Role ) ) ) )</td>
            <td>@Html.ActionLink(
                "Delete",
                "Delete",
                "Account",
                new { @id = @user.Id, @email = @user.Email, @role = @user.Role },
                new { }
                )</td>
        </tr>
    }
    </table>
</div>
