@model Web.Models.PageModels.ResetPasswordPage

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please Enter Your New Password</h2>
@using( Html.BeginForm( "ResetPassword", "Account", FormMethod.Post, new { ReturnUrl = "/" } ) )
{
     @Html.AntiForgeryToken()
     <div>
        @Html.Password( "Password", null, new { @Required = true, @Placeholder = "Password" } )
        @Html.ValidationMessageFor( x => x.Password )
    </div>
    <div>
        @Html.Password( "PasswordConfirmation", null, new { @Required = true, @Placeholder = "Password Confirmation" } )
        @Html.ValidationMessageFor( x => x.PasswordConfirmation )
    </div>
    <input type="submit" />
}
