@model Web.Models.PageModels.HomePage

<section class="featured">
  @if( @Model.LatestPost != null )
  {
    <h1>@Model.LatestPost.title</h1>
    <h4>By: @Model.LatestPost.author</h4>
    <div>@Model.LatestPost.date.ToString( "MMM dd, yyyy" )</div>
    @Html.Raw( @Model.LatestPost.body )
  }
  else
  {
    <h1>No Blogs Here!</h1>
  }
</section>
