@model Web.Models.PageModels.HomePage

<div class="main-content span8">
  @if( @Model.LatestPost != null )
  {
    <h1>@Model.LatestPost.Title</h1>
    <div>@Model.LatestPost.Date.ToString( "MMM dd, yyyy" )</div>
    @Html.Raw( @Model.LatestPost.Body )
  }
  else
  {
    <h1>No Blogs Here!</h1>
  }
</div>
<div class="side-bar span3 offset1">
  @Html.Partial( "_SidebarPartial" )
</div>