<header class="navbar">
  <div class="navbar-inner">
    <div class="row-fluid">
      <div class="span10">
        @Html.ActionLink( "Adam Gooch", "Index", "Home", new { }, new { @id = "site-title-link" } )
      </div>
      <div class="span2">
        @if( ViewBag.User != null )
        {
          <p id="username" class="pull-right">@ViewBag.User.Email</p>
          <div id="user-menu">
            @if( ViewBag.User.IsAdmin() )
            {
              <div>
                @Html.ActionLink( "Manage Users", "ManageAll", "Account", new { }, new { @id = "manage-users-link" } )
              </div>
            }
            @if( ViewBag.User.IsAuthor() )
            {
              <div>
                @Html.ActionLink( "Manage Blog", "Manage", "Blog", new { }, new {  } )
              </div>
            }
            <div>
              @Html.ActionLink( "Logout", "Logout", "Account", new { }, new {  } )
            </div>
          </div>
        }
      </div>
      <div class="row-fluid">
        <div class="span12">
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
