<!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/assets/styles/bootstrap.min.css")
    @Styles.Render("~/assets/styles/bootstrap-responsive.min.css")
    @Styles.Render("~/assets/styles/main.min.css")
    @Scripts.Render("~/assets/scripts/modernizr.custom.min.js")
  </head>
  <body>
    <div id="wrap">
      <div class="container-fluid">
        @Html.Partial("_HeaderPartial")
        <div id="content" class="container-fluid">
          <div class="row-fluid">
            @RenderBody()
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <p class="muted footer">&copy; @DateTime.Now.Year - All Rights Reserved</p>
    </div>
    
    @Scripts.Render("~/assets/scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/assets/scripts/bootstrap.min.js")
    @RenderSection("PageLevelJavascript", required: false)
  </body>
</html>
