@model Web.Models.PageModels.LoginPage

@{ ViewBag.Title = "Login"; }
               
<h2>Login</h2>
<div>
  @using( Html.BeginForm( "Login", "Account", FormMethod.Post ) )
  {
    @Html.AntiForgeryToken()
    <div>@Html.LabelFor( x => x.UserName )</div>
    <div>@Html.TextBoxFor( x => x.UserName, new { @Required = true } )</div>
    <div>@Html.LabelFor( x => x.Password )</div>
    <div>@Html.Password( "Password", null, new { @Required = true } )</div>
    <input type="submit" />
  }
</div>